# Functions, Loops, Conditionals and Datastructures

In [8]:
# fibinacci series
def fib(a=0, b=1, num=50):
    sequence = []
    while len(sequence)<num:
        sequence.append(b)
        #_a=a, where _a is different name from a
        #a=b
        #b=_a+b
        a,b=b, a+b
    return sequence

In [9]:
x,y=5,6
x

5

In [10]:
fib()

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

In [11]:
fib(89,144)

[144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961]

In [12]:
#positional argument
fib(0,1,20)

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [14]:
fib(a=0, b=1)

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

In [16]:
#named argument
fib(num=20)

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [18]:
fib(num=20, a=5, b=8)

[8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025]

In [19]:
#mixed arguments : positional arguments then named arguments
fib(num=20,0,1)

SyntaxError: positional argument follows keyword argument (<ipython-input-19-db9a5437b8f6>, line 2)

In [22]:
#positional argument then named argument
fib(0,1,num=10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [24]:
range (0,9)

range(0, 9)

In [25]:
for i in range(0,9):
    print(i)

0
1
2
3
4
5
6
7
8

In [26]:
list (range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 
3200 (both included)

In [30]:
c=2240
c%7

0

In [31]:
c%7==0

True

In [32]:
c%5!=0

False

In [33]:
if c%7==0:
    print('divisible by 7')

divisible by 7

In [34]:
c%7==0 and c%5!=0

False

In [35]:
lst=[]
if c%7==0 and c%5!=0:
    lst.append(c)

In [36]:
range(2000,3200)

range(2000, 3200)

In [37]:
range (2000,3201)

range(2000, 3201)

In [38]:
lst=[]
for c in range (2000,3201):
    if c%7==0 and c%5!=0:
        lst.append(c)
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [39]:
1==0

False

In [40]:
if True:
    print ('True')
else:
    print('False')

True

In [41]:
if False:
    print ('IF')
else:
    print('Else')

Else

#Problem : Check if the value is prime number or not

In [42]:
n= 27

0

In [43]:
n%1==0 and n%3!=0

False

In [44]:
for i in range (2,6):
    print ()
    if i == 3:
        break

In [47]:
q=7

In [48]:
range(2,27)

range(2, 27)

d = []
for d in range (2,27):

In [52]:
q=27
for d in range (2,q):
    if q%d ==0:
        print ('not a prime number:')
        break
print ('prime number:')

not a prime number:
prime number:

In [60]:
def isprime(q=27):
    return True